<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
<<<<<<< HEAD
      <%= render 'form' %>
=======
        <%= render 'form' %>
>>>>>>> 9a735fcbe6d6e99bd087a467a5c7cc23e80386bb
        <%# 部分テンプレートでフォームを表示する %>
    </div>
  </div>
</div>